.info-add {
  text-align: center;
}

.error-icon {
  vertical-align: middle;
  padding: 5px;
}

.info-successful {
  margin: 10px;
  padding: 5px;
  border-radius: 5px;
  color: #0c5460;
  background-color: #d1ecf1;
}
