<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title> Football </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Football</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container" *ngIf="leagues; else elseNothing">
    <ion-list>
      <ion-item
        *ngFor="let league of leagues"
        [routerLink]="['/teams', league.Identificador]"
      >
        <ion-avatar
          ><img [src]="league['Logo de la Liga']" alt=""
        /></ion-avatar>
        <ion-label>{{ league["Nombre De La Liga"] }}</ion-label>
      </ion-item>
    </ion-list>
  </div>
  <div id="container">
    <ng-template #elseNothing>
      <ion-list>
        <ion-item>
          <ion-label>No hay datos para mostrar...</ion-label>
        </ion-item>
      </ion-list></ng-template
    >
  </div>
</ion-content>
