<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title size="large">Football Add New Player</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <ion-text color="primary" class="info-add">
      <h5>Enter the new team player's data sheet</h5>
    </ion-text>
    <ion-item>
      <ion-label position="stacked">PlayerName</ion-label>
      <ion-input
        [(ngModel)]="newPlayer['Nombre del Jugador']"
        (keyup)="validateName()"
      ></ion-input>
    </ion-item>
    <div *ngIf="showErrorNameMessage">
      <ion-text color="danger">
        <ion-icon
          class="error-icon"
          name="information-circle-outline"
        ></ion-icon>
        <small>Fill the PlayerName!</small>
      </ion-text>
    </div>
    <ion-item>
      <ion-label position="stacked">Avatar URL</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Team</ion-label>
      <ion-select
        value=""
        okText="Select"
        cancelText="Dismiss"
        (ionChange)="validateSelect()"
        [(ngModel)]="newPlayer.teamId"
      >
        <ion-select-option [value]="team.id" *ngFor="let team of teams"
          >{{team['Nombre del equipo']}}</ion-select-option
        >
      </ion-select>
    </ion-item>
    <div *ngIf="showErrorTeamMessage">
      <ion-text color="danger">
        <ion-icon
          class="error-icon"
          name="information-circle-outline"
        ></ion-icon>
        <small>Select a valid team!</small>
      </ion-text>
    </div>
    <div class="ion-text-center">
      <ion-button color="primary" (click)="addNewPlayer()"
        >Add Player</ion-button
      >
    </div>
    <div class="ion-text-center info-successful" *ngIf="showSuccessfulMessage">
      <p>Player added successfuly!</p>
      <ion-button color="primary" [routerLink]="['/players', newPlayer.teamId]"
        >Back</ion-button
      >
    </div>
  </div>
</ion-content>
