<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title size="large">Football Teams</ion-title>
  </ion-toolbar>
  <ion-searchbar
    [(ngModel)]="inputSearch"
    (keyup)="getSearchData()"
  ></ion-searchbar>
</ion-header>

<ion-content>
  <div id="container" *ngIf="teams.length; else elseNothing">
    <ion-list>
      <ion-item *ngFor="let team of teams">
        <ion-avatar [routerLink]="['/players', team.id]"
          ><img [src]="team['Logo del Equipo']" alt=""
        /></ion-avatar>
        <ion-label [routerLink]="['/players', team.id]"
          >{{ team['Nombre del equipo'] }}</ion-label
        >
        <ion-icon
          slot="end"
          name="create-outline"
          [routerLink]="['/editTeam', team.id]"
        ></ion-icon>
      </ion-item>
    </ion-list>
  </div>
  <div id="container">
    <ng-template #elseNothing>
      <ion-list>
        <ion-item>
          <ion-label>No hay datos para mostrar...</ion-label>
        </ion-item>
      </ion-list></ng-template
    >
  </div>
</ion-content>
