<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title size="large">Football Players</ion-title>
  </ion-toolbar>
  <ion-searchbar></ion-searchbar>
</ion-header>

<ion-content>
  <div id="container" *ngIf="players; else elseNothing">
    <ion-list>
      <ion-item *ngFor="let player of players">
        <ion-avatar><img [src]="player.Avatar" alt="" /></ion-avatar>
        <ion-label>{{ player['Nombre del Jugador'] }}</ion-label>
      </ion-item>
    </ion-list>
  </div>
  <div id="container">
    <ng-template #elseNothing>
      <ion-list>
        <ion-item>
          <ion-label>No hay datos para mostrar...</ion-label>
        </ion-item>
      </ion-list></ng-template
    >
  </div>
</ion-content>
